{% block form_row %}
<div class="form-group">{{ form_errors(form) }}{{ form_label(form) }}{{ form_widget(form) }}</div>
{% endblock form_row %}

{% block entity_row %}
<div class="form-group entity">{{ form_errors(form) }}{{ form_label(form) }}{{ form_widget(form) }}</div>
{% endblock entity_row %}

{% block checkbox_row %}    
<div class="form-group">{{ form_errors(form) }}{{ form_widget(form) }}{{ form_label(form) }}</div>
{% endblock checkbox_row %}


{% block checkbox_widget %}
  <div class="custom-checkbox"><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock checkbox_widget %}

{% block checkbox_label %}
    <label for="{{ id }}"><span></span></label>
    <label for="{{ id }}">{{ label|raw }}</label>
</div>
{% endblock checkbox_label %}
