{# extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >



    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
 endblock #}


{% extends 'layout.html.twig' %}
{% block header_title %}Authentification{% endblock %}


{% block body %}

  <div class="row">  
    <div class="col-md-2"></div>
    <div class="col-md-4 text-center">

      <h1 style="margin:0;"><span class="easyamap easyamap-medium">easy<span>amap</span></span></h1>
      <h4>{{ setting.name }}</h4>

      <p>         
        <img src="{{ setting.logoLargeUrl }}" style="width:256px;" />
      </p>
    </div>
    <div class="col-md-4">
      <form method="post" class="form-signin">

        <p style="margin-top:30px;">
              <label for="inputUsername" class="sr-only">Nom</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom" required autofocus>
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        </p>
        {% if error %}
            <div  class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div style="margin-top:40px;">
          <input type="submit"  class="btn btn-lg btn-primary btn-block" value="Connexion" />
        </div>
      </form>
      <div class="text-center">
        <a href="{{ url('app_forgot_password_request') }}"><button class="btn btn-sm btn-default"> Réinitialiser le mot de passe</button></a>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>



{% endblock %}