<div class="payment_description">
{% if payment.description[:1] == '[' %}    
    {% set tab = payment.description|json_decode() %}
    {% set types = tab[0] %}
    {% set payments = tab[1] %}
    {% set payment_info = tab[2] %}    
    {% set chosen_payment = tab[3] %}



  {% if constant('App\\Entity\\PaymentType::CHECK') in types %}
        <div class="row">
            <div class="col-sm-4"><span class="glyphicon glyphicon-chevron-right"></span> <b>Chèque</b></div>
            <div class="col-sm-8">
        {% for i,choices in payments %}            
            <div class="enum"><span class="glyphicon glyphicon-{% if chosen_payment[i] %}check{% else %}unchecked{% endif %}"></span> {% if not loop.first %}ou {% endif %}<b>{{ choices|length }}</b> 
            {% if constant('App\\Entity\\PaymentType::CHECK') in types %}chèque{% else %}paiement{% endif %}{% if choices|length > 1 %}s{% endif %} :</div>
            <span class="repartition">{% for choice in choices %}
                    {% if choice[2] == 1 %}{#
                        #}<b>?</b> € <small>(selon livraison)</small>{#
                        #}{% if not loop.last %} + {% endif %}
                        {% else %}
                    {{ choice[1]|price_fr }}{#
                    #}{% if not loop.last %} + {% endif %}
                    {% endif %}
                {% endfor %}
            </span><small>({% for choice in choices %}{#
                    #}{% if choice[3] > 0 %}{# mensuel #}{#
                    #}{{ choice[0]|creneau(choice[3]) }}{#
                    #}{% else %}{#
                        #}{{ choice[0]|date_fr }}{#
                    #}{% endif %}{#
                    #}{% if not loop.last %} / {% endif %}{#
                
                #}{% endfor %})</small>
        {% endfor %}
        <div class="small">Chèques à l'ordre de "<i>{{ payment_info[0] }}</i>"</div>
        </div>
        </div>
    {% endif %}

    {% if constant('App\\Entity\\PaymentType::CASH') in types %}
        <div class="row mt">
            <div class="col-sm-2"><span class="glyphicon glyphicon-chevron-right"></span> <b>Espèces</b></div>
        <div class="col-sm-8">
        
        {% for i,choices in payments %}
            <div class="enum"><span class="glyphicon glyphicon-{% if chosen_payment[i] %}check{% else %}unchecked{% endif %}"></span> {% if not loop.first %}ou {% endif %}<b>{{ choices|length }}</b> 
            {% if constant('App\\Entity\\PaymentType::CHECK') in types %}chèque{% else %}paiement{% endif %}{% if choices|length > 1 %}s{% endif %} :</div>
            <span class="repartition">{% for choice in choices %}
                    {% if choice[2] == 1 %}{#
                        #}<b>?</b> € <small>(selon livraison)</small>{#
                        #}{% if not loop.last %} + {% endif %}
                        {% else %}
                    {{ choice[1]|price_fr }}{#
                    #}{% if not loop.last %} + {% endif %}
                    {% endif %}
                {% endfor %}
            </span><small>({% for choice in choices %}{#
                    #}{% if choice[3] > 0 %}{# mensuel #}{#
                    #}{{ choice[0]|creneau(choice[3]) }}{#
                    #}{% else %}{#
                        #}{{ choice[0]|date_fr }}{#
                    #}{% endif %}{#
                    #}{% if not loop.last %} / {% endif %}{#
                
                #}{% endfor %})</small>
        
        {% endfor %}
        
        </div>
        </div>
    {% endif %}

    {% if constant('App\\Entity\\PaymentType::VIREMENT') in types %}
        <div class="row mt row-virement" data-url="{{ path('validation_virements_a_valider') }}">
            <div class="col-sm-12"><span class="glyphicon glyphicon-chevron-right"></span> <b>Virement</b></div>
            {% if isReferentPage is defined and isReferentPage %}
                <div class="col-sm-12">
                    {% if payment.transferIssuedAt %}
                        <i class="glyphicon glyphicon-ok text-success"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove text-danger"></i>
                    {% endif %} Envoyé 
                    {% if payment.transferReceivedAt %}
                        <i class="glyphicon glyphicon-ok text-success"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove text-danger"></i>
                    {% endif %} Reçu
                </div>
            {% else %}
                <div class="col-sm-12">
                    <a class="btn btn-info virement-btn" href="#" data-id-payment="{{ payment.idPayment }}">Payer par virement</a>
                </div>
            {% endif %}
        </div>
    {% endif %}


    {% if isReferentPage is defined and isReferentPage and payment.idPayment is defined %}{# uniquement dans  sonata 
        #}<script>var descriptions=descriptions||{};descriptions[{{ payment.idPayment }}]={{description|raw}};</script>{#
    #}{% endif %}
{% else %}
    {{ description|replace({'OU':'<b>OU</b>'})|raw }}    
{% endif %}
</div>

