{#<nav class="navbar navbar-fixed-top{% if app.environment == "test" %} navbar-inverse{% else %} navbar-default{% endif %}">#}
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <ul class="nav navbar-nav navbar-left">
          {% if app is defined and app.user is not empty %}         
             <li><a href="{{ path('home') }}" data-toggle="tooltip" data-placement="bottom" title="Menu"> <span class="glyphicon glyphicon-th-large"></span> </a></li>         
         {% endif %}
          <li class="mobile-hide"><a class="link-disabled" href="#" onclick="return false;" style="font-size:145%;">{{ title|raw }}</a></li>
         </ul> 
        </div>
        <div class="pull-right">
        {% if app is defined and app.user is not empty %}
          <ul class="nav navbar-nav navbar-right">
             <li><a href="{{ path('logout') }}" data-toggle="tooltip" data-placement="bottom" title="Déconnexion"> <span class="glyphicon glyphicon-log-out"></span> </a></li>
             <li><a href="https://cdn1.easyamap.fr/docs/documentation.pdf" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Documentation"> <span class="glyphicon glyphicon-info-sign"></span> </a></li>
             <li class="mobile-hide"><a href="{{ path('donnees_personnelles') }}" data-toggle="tooltip" data-placement="bottom" title="Mes données personnelles">{{ app.user.firstname ~ ' ' ~ app.user.lastname}}</a></li>
          </ul>        
        {% endif %}      
        </div>
      </div>
    </div>
  </div>
</nav>