{% extends 'layout.html.twig' %}
{% block header_title %}Dates des distributions{% endblock %}
{% block header_css %}<link href="{{  asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}
{% include 'Parameters/_menu.html.twig' %}  
    
<div class="row">
  <div class="col-md-10">
    <div class="well well-sm">Cliquez sur une date pour ajouter, enlever ou déplacer un jour de distribution</div>
    <div id="datepicker"></div>
  </div>
    <div class="col-md-2">
        <table class="table">
                        <tr><td>
                    <div class="legende-gris"></div>
                </td><td>
                    Pas de distribution
                </td></tr>
            <tr><td colspan="2" class="distri-explication text-muted">Clic = ajout d'une distribution.</td></tr>
            </td></tr>
            <tr><td>
                    <div class="legende-vert"></div>
                </td><td>
                    Distribution sans produit affecté.
                </td></tr>
            <tr><td colspan="2" class="distri-explication text-muted">Clic = suppression de la distribution.</td></tr>
            </td></tr>
            <tr><td>
                    <div class="legende-bleu"></div>
                </td><td>
                    Distribution avec des produits affectés. </td></tr>
            <tr><td colspan="2" class="distri-explication text-muted">Clic = voir les produits affectés OU supprimer la distribution et les produits affectés
            </td></tr>
            <tr><td>
                    <div class="legende-orange"></div>
                </td><td>
                    Distribution avec des commandes déjà passées. 
                     </td></tr>
           <tr><td colspan="2" class="distri-explication text-muted">Clic : possibilité de déplacer la distribution.
            </td></tr>
        </table>
    </div>
</div>

<div class="row" style="margin:50px 0;">
  <div class="col-md-10">
    <div class="well well-sm">Ajout de plusieurs dates</div>
      <form method="POST" action="{{ path('distribution_add_batch') }}" name="batch_distri">
        Ajouter tous les 
        <select name="day">
          <option value="0">jours</option>
          <option value="1">lundis</option>
          <option value="2">mardis</option>
          <option value="3">mercredis</option>
          <option value="4">jeudis</option>
          <option value="5">vendredis</option>
          <option value="6">samedis</option>
          <option value="7">dimanches</option>
        </select>
        de 
        <input type="text" name="date_from" id="date_from" />
        à
        <input type="text" name="date_to" id="date_to" />
        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>

    </form>
    </div>
</div>

{% include 'Distribution/_modals.html.twig' %}  

{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript">
var root = '{{ url('home') }}';
var distributions = {{ entities|json_encode(constant('JSON_NUMERIC_CHECK'))|raw }};
</script>
<script type="text/javascript" src="{{ asset('js/distribution.js') }}"></script>
{% endblock %}