{% extends 'layout.html.twig' %}
{% block header_title %}Liste des tâches{% endblock %}
{% block header_css %}<link href="{{ asset('datatables/datatables.min.css') }}" rel="stylesheet" />{% endblock %}
{% block body %}
{% include 'Parameters/_menu.html.twig' %}  

<div class="row">
  <div class="col-md-4 col-md-offset-8">
           <br />
       <br />
       <br />
    <a href="{{ path('task_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-tasks"></span> Ajouter une tâche</a>
    <br />
    <br />
    <table class="table table-hover table-bordered sorttable">
        <thead>
            <tr class="success">
                <th>Libellé</th>             
                <th>Actif</th>     
                <th>Nb pers. min</th>
                <th>Nb pers. max</th>
            </tr>
        </thead>
        <tbody class="sortable">
        {% for entity in entities %}
            <tr id="{{ entity.idTask }}" onclick="window.location.href='{{ path('task_edit', { 'id': entity.idTask }) }}';"{% if not entity.isActive %} class="text-muted"{% endif %}>
                <td>{{ entity.label }}</td>
                <td><span class="glyphicon glyphicon-{% if entity.isActive %}ok{% else %}remove{% endif %}"></span></td>
                <td>{{ entity.min }}</td>
                <td>{{ entity.max }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div> 
        
{% include 'ProductDistribution/_modals.html.twig' %}  
{% endblock %}
{% block footer_js_before %}
<script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/init-datatables.js') }}"></script>
{% endblock %}