{% extends 'layout.html.twig' %}
{% block header_title %}Liste des produits{% endblock %}
{% block header_css %}<link href="{{ asset('datatables/datatables.min.css') }}" rel="stylesheet" />{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <a href="{{ path('product_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-apple"></span> Ajouter un produit</a>
   </div>
   <div class="col-md-3">
    <select class="form-control" id="farm-choose">
        <option value="">Tous producteurs</option>
        {% for farm in farms %}
            <option value="{{ farm }}">{{ farm }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="col-md-3 text-right">
   <a download="produits.xls" class="btn btn-success no-print" onclick="exportExcel(this);" data-toggle="tooltip" data-placement="bottom" title="Export Excel"><span class="glyphicon glyphicon-floppy-disk"></span> Excel</a>
    </div>

</div>
<br />
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table id="excel-table" class="table table-bordered sorttable">
        <thead>
            <tr class="success">
                <th>Produit</th>             
                <th>Conditionnement</th>             
                <th>Prix</th>             
                <th>Producteur</th>             
                <th>Modifié le</th>   
                <th>Dupliquer</th>
        </thead>
        <tbody class="sortable">
        {% for entity in entities %}
            {% if entity.isActive %}
         <tr id="{{ entity.idProduct }}" >
                <td class="first-col" onclick="window.location.href='{{ path('product_edit', { 'id': entity.idProduct }) }}';">{% if entity.ratio %}<div class="pull-right"><span class="glyphicon glyphicon-scale text-muted"></span></div>{% endif %}{{ entity.label }}</td><!--class="product2"-->
                <td style="max-width:100px;">{{ entity.unit }}</td>
                <td>{{ entity.basePrice|number_format(2,',',' ') }}€{% if entity.ratio %}/kg{% endif %}</td>
                <td>{{ entity.fkFarm }}</td>
                <td>{% if entity.updatedAt is not empty %}{{ entity.updatedAt|date("Y-m-d") }}{% endif %}</td>
                <td><a href="{{ path('product_new', {"id":entity.idProduct }) }}"><span class="glyphicon glyphicon-duplicate" style="font-size:18px;"></span></a></td>
            </tr>
            {% endif %}
        {% endfor %}
        {% for entity in entities %}
            {% if not entity.isActive %}
            <tr id="{{ entity.idProduct }}" onclick="window.location.replace('{{ path('product_edit', { 'id': entity.idProduct }) }}');" class="text-muted">
                <td class="product2">{{ entity.label }}</td>
                <td>{{ entity.unit }}{% if entity.ratio is not null %} <span class="glyphicon glyphicon-scale"></span>{% endif %}</td>
                <td>{{ entity.basePrice|number_format(2,',',' ') }}</td>
                <td>{{ entity.fkFarm }}</td>
                <td>{% if entity.updatedAt is not empty %}{{ entity.updatedAt|date("Y-m-d") }}{% endif %}</td>
                <td></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    </div>

</div> 
{% include 'ProductDistribution/_modals.html.twig' %}  
{% endblock %}

{% block footer_js_before %}
<script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
{% endblock %}

{% block footer_js %}
    <style>
        .first-col {
            min-width:180px;
            cursor: pointer;
        }
        .first-col:hover {
            background-color:#DDD;
        }
    </style>
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/init-datatables.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript">
var baseUrl = '{{ url('product_change_order', {'id_from':'__FROM__','id_before':'__BEFORE__','id_after':'__AFTER__'}) }}';
</script>
<script type="text/javascript" src="{{ asset('js/sort.js') }}"></script>
<script type="text/javascript">
function exportExcel(elt) {
    if (/msie/.test(navigator.userAgent.toLowerCase()) || /trident/.test(navigator.userAgent.toLowerCase())) {
        $('#msie').modal('show');
    } 
    else {
        dataTable.page.len(-1).draw();
        return ExcellentExport.excel(elt, 'excel-table', 'Liste des produits',true);
    }
}
$(document).ready(()=>{

    document.getElementById('farm-choose').addEventListener('change',e=>{
        let text = e.target.options[e.target.selectedIndex].value;
        dataTable.column( 3 ).search(text).draw();
    });
});
</script>
<script type="text/javascript" src="{{ asset('js/excellentexcel.js') }}"></script>
{% endblock %}


