<a {#
    #}data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="Début: {{ contract.firstDistribution|full_date_fr2 }}<br>{{ contract.nbDistribution }} distribution{% if contract.nbDistribution > 1 %}s{% endif %}" {#
    #}href="{{ path('contrat_view', {'id_contract': contract.idContract }) }}" {#
    #}class="btn btn-{{ style }}{% if size=='L' %} btn-lg{% endif %} btn-xl">{#
#}{% if filled[contract.idContract] is defined %}<div class="pull-left"><span data-toggle="tooltip" data-placement="bottom" title="Commande passée" class="glyphicon glyphicon-check"></span></div>{% endif %}{#
#}{{ contract.label }}{#
#}{% if contract.fillDateEnd is not empty %}{#
#}<br /><small{% if style=='success' and date(contract.fillDateEnd)<date('+3days') %} class="label label-warning" style="border-radius:10px;"> <span class="glyphicon glyphicon-alert"></span> {% else %}>{% endif %}Date limite : {{ contract.fillDateEnd|full_date_fr2 }}</small>{#
#}{% endif %}{#
#}</a>