{% set mois = ['','Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'] %}
{% set jours = ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'] %}      
<tr>
  <td colspan="{% if extra_col is defined and extra_col %}3{% else %}2{% endif %}" rowspan="2"></td>
  {% set last_month = -1 %}
  {% for date in distributions %}
      {% if date|date("n") != last_month %}
          <th colspan="{{ nb_per_month[date|date("Y-m")] }}" class="text-center{% if loop.index0 > 0 %} delimit-left{% endif %}">{{ mois[date|date("n")] }} {{ date|date("Y") }}</th>
          {% set last_month = date|date("n") %}
       {% endif %}
  {% endfor %}
  </tr>
  <tr class="tr-date">
    {% set last_month = -1 %}
    {% for id_distribution, date in distributions %}                        
      {% set new_month = false %}
      {% if date|date("n") != last_month %}
         {% set last_month = date|date("n") %}
         {% set new_month = true %}
      {% endif %}
      <td class="text-center warning{% if new_month and loop.index0 > 0 %} delimit-left{% endif %}">{{ jours[date|date("w")]|slice(0,3) }}<br />{% if commandesExistantes[id_distribution] == 1 %}<u data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Vous avez déjà des produits à récupérer à cette date">{% endif %}{{ date|date("d") }}{% if commandesExistantes[id_distribution] == 1 %}</u>{% endif %}</td>
    {% endfor %}
  </tr>
