{% extends 'layout.html.twig' %}
{% block header_title %}Tableau Distribution par produit (bêta){% endblock %}
{% block header_css %}
{% endblock %}
{% block body %}


<div class="row">
    <div class="col-md-12">
        <h2>Tableau Distribution par produit (bêta)</h2>
        <h3>Semaine du {{ dateDebut|full_date_fr }}</h3>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
       <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    {% for produit in produits %}
                        <td class="bg-grey">{{produit}}</td>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                {% for i, amap in amaps %}
                    <tr>
                        <td class="bg-success">{{amap}}</td>
                        {% for j,produit in produits %}
                           <td class="text-center"><b>{% if quantities[i] is defined and quantities[i][j] is defined %}{{ quantities[i][j] }}{% endif %}</b></td>
                        {% endfor %}
                     </tr>
                 {% endfor %}
                 <tr>
                  <th>TOTAL</th>
                 {% for j,produit in produits %}
                     <td class="text-center bg-warning"><b>{% if total[j] is defined %}{{ total[j] }}{% endif %}</b></td>
                 {% endfor %}
            </tbody>
       </table>
    </div>
</div>



{% endblock %}
{% block footer_js %}

{% endblock %}
