{% extends 'layout.html.twig' %}
{% block header_title %}Tableau Distribution par produit (bêta){% endblock %}
{% block header_css %}
<link href="{{  asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}


 <div class="row no-print">
    <div class="col-md-12">

        <div class="pull-left mobile-hide">
          <button class="btn btn-default no-print" onclick="window.print();"><span class="glyphicon glyphicon-print"></span> Imprimer</button>
            <a download="distributions-{{ dateDebut|date('d/m/Y') }}.xls" class="btn btn-success no-print" onclick="exportExcel(this);" data-toggle="tooltip" data-placement="bottom" title="Export Excel"><span class="glyphicon glyphicon-floppy-disk"></span> Excel</a>
        </div>
         <div class="pull-right text-center distri-right">
                <input type="text" class="form-control" id="datepicker1" style="display:inline;width:auto;" value="{{ dateDebut|date('Y-m-d') }}" />
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h3>Semaine du {{ dateDebut|date('d/m/Y') }} au {{ dateFin|date('d/m/Y') }}</h3>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
       <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    {% for produit in produits %}
                        <td class="bg-grey">{{produit}}</td>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                {% for i, amap in amaps %}
                    <tr>
                        <td class="bg-success">{{amap}}</td>
                        {% for j,produit in produits %}
                           <td class="text-center"><b>{% if quantities[i] is defined and quantities[i][j] is defined %}{{ quantities[i][j] }}{% endif %}</b></td>
                        {% endfor %}
                     </tr>
                 {% endfor %}
                 <tr>
                  <th>TOTAL</th>
                 {% for j,produit in produits %}
                     <td class="text-center bg-warning"><b>{% if total[j] is defined %}{{ total[j] }}{% endif %}</b></td>
                 {% endfor %}
            </tbody>
       </table>
    </div>
</div>


  {# dupliquer la structure du tableau ici pour l'export Excel #}
    <div style="display:none;">
        <table id="table-excel">
            <thead>
                          <tr>
                              <th></th>
                              {% for produit in produits %}
                                  <td>{{produit}}</td>
                              {% endfor %}

                          </tr>
                      </thead>
                      <tbody>
                          {% for i, amap in amaps %}
                              <tr>
                                  <td>{{amap}}</td>
                                  {% for j,produit in produits %}
                                     <td><b>{% if quantities[i] is defined and quantities[i][j] is defined %}{{ quantities[i][j] }}{% endif %}</b></td>
                                  {% endfor %}
                               </tr>
                           {% endfor %}
                           <tr>
                            <th>TOTAL</th>
                           {% for j,produit in produits %}
                               <td>{% if total[j] is defined %}{{ total[j] }}{% endif %}</td>
                           {% endfor %}
                      </tbody>
        </table>
     </div>



{% endblock %}
{% block footer_js %}
<script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/excellentexcel.js') }}"></script>
<script type="text/javascript">
function exportExcel(elt) {
    if (/msie/.test(navigator.userAgent.toLowerCase()) || /trident/.test(navigator.userAgent.toLowerCase())) {
        $('#msie').modal('show');
    }
    else {
        return ExcellentExport.excel(elt, 'table-excel', 'Contrats AMAP');
    }
}


var urlTemplate = "{{ path('home') ~ urlTemplate }}";
var mois = ['Janvier','Février','Mars','Avril','Mai','Juin',
'Juillet','Août','Septembre','Octobre','Novembre','Décembre'];
var jours = ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'];
var options1 = {
    monthNames: mois,
    monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
    'Jul','Aoû','Sep','Oct','Nov','Déc'],
    dayNames: jours,
    dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
    dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
    dateFormat: 'yy-mm-dd',
    firstDay: 1,
    prevText: '', prevStatus: 'Voir le mois précédent',
    prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: 'Voir l\'année précédent',
    nextText: '', nextStatus: 'Voir le mois suivant',
    nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: 'Voir l\'année suivant',
    currentText: 'Courant', currentStatus: 'Voir le mois courant',
    todayText: 'Aujourd\'hui', todayStatus: 'Voir aujourd\'hui',
    clearText: 'Effacer', clearStatus: 'Effacer la date sélectionnée',
    closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
    yearStatus: 'Voir une autre année', monthStatus: 'Voir un autre mois',
    weekText: 'Sm', weekStatus: 'Semaine de l\'année',
    dayStatus: '\'Choisir\' le DD d MM',
    defaultStatus: 'Choisir la date',
    isRTL: false,
    defaultDate: '{{ dateDebut|date('Y-m-d') }}',
    onSelect: function (a)
    {
        var dateDebut = options1._formatDate($("#datepicker1").datepicker('getDate'));
        var url = urlTemplate.replace('%DATE%',dateDebut);
        window.location.href = url;
    },
    _formatDate: function (date) {
        return date.getFullYear()+'-'+options1._twoDigits(date.getMonth()+1)+'-'+options1._twoDigits(date.getDate());
    },
    _twoDigits: function (num) {
        if (num<10)
        num = "0"+num;
        return num;
    }
};

window.onload = function()
{
    $("#datepicker1").datepicker(options1);
};

</script>
{% endblock %}
