{% set total_amount = 0 %}
{% set total_received = 0 %}
<table id="excel-table">
    <tr>
        <td colspan="7" align="center" bgcolor="{{ bgwarning }}">               
            {% include 'Contract/_excel_thead.html.twig' with {'contract':contract, 'farm': farm } %}  
        </td>
    </tr>
    <tr>
        <th bgcolor="{{ bgsuccess }}">Adhérent</th>
        <th bgcolor="{{ bgsuccess }}">Date</th>
        <th bgcolor="{{ bgsuccess }}">Quantité</th>
        <th bgcolor="{{ bgsuccess }}">Produit</th>
        <th bgcolor="{{ bgsuccess }}">Prix</th>
        <th bgcolor="{{ bgsuccess }}">Paiement</th>
        <th bgcolor="{{ bgsuccess }}">Reçu</th>
    </tr>
    {% for name, line in report %}
        {% for product in line %}
        <tr>
            {% if loop.first %}
                <td rowspan="{{ line|length }}">{{ name }}</td>
            {% endif %}   
            <td>{{ product.date|date_small }}</td>
            <td>
                <b>{{ product.quantity }}</b>
            </td>
            <td>{{ product.label }} {{ product.unit }}</td>                        
            <td>
                {% if product.ratio is null %}
                    {% set price = product.quantity*product.price %}
                     {{ price|price_excel }}
                {% else %}
                    <font color="#888888">Prix au poids</font>
                {% endif %}
            </td>
            {% if loop.first %}
                <td rowspan="{{ line|length }}">
                {% if payment[product.id_user] is defined %}
                    {% set total_amount = total_amount+payment[product.id_user].amount %}
                    {{ payment[product.id_user].amount|price_excel  }}
                 {% endif %}  
                </td><td rowspan="{{ line|length }}">
                 {% if payment[product.id_user] is defined %}
                    {% set total_received = total_received+payment[product.id_user].received %}
                    {{ payment[product.id_user].received|price_excel  }}<br />
                {% endif %}                        
                </td>
            {% endif %}   
        </tr>
        {% endfor %}
    {% endfor %}
    <tr>
        <th colspan="5"  bgcolor="{{ bgsuccess }}">Total</th>
        <th>{{ total_amount|price_excel }}</th>
        <th>{{ total_received|price_excel }}</th>
    </tr>
</table>
