
{% set has_ratio = false %}
{% set nb_month = 0 %}
{% set last_month = '' %}
{% for date in dates %}     
    {% if date|month_year_fr != last_month %}
        {% set nb_month = nb_month+1 %}
    {% endif %}
    {% set last_month = date|month_year_fr %}
{% endfor %}
    <table id="excel-table">
    <tr>
        <td colspan="{{ 2+dates|length+nb_month }}" align="center" bgcolor="{{ bgwarning }}">
            {% include 'Contract/_excel_thead.html.twig' with {'contract':contract, 'farm': farm } %}  
        </td>
    </tr>
        <tr>
            <th bgcolor="{{ bgsuccess}}" rowspan="3">Produit</th>
            <th bgcolor="{{ bgsuccess}}" rowspan="3">Prix</th>
            <th bgcolor="{{ bgsuccess}}" colspan="{{ dates|length }}">Distributions</th>
            {% set last_month = '' %}
            {% for date in dates %}     
                {% if date|month_year_fr != last_month %}
                    <th bgcolor="{{ bgsuccess}}" rowspan="3">{{ date|month_year_fr }}</th>
                {% endif %}
                {% set last_month = date|month_year_fr %}
            {% endfor %}
        </tr>
         <tr>
            {% set last_month = '' %}
            {% for date in dates %}     
                {% if date|month_year_fr != last_month %}
                    <td colspan="{{ nb_per_month[date|slice(0,7)] }}">{{ date|month_year_fr }}</td>
                {% endif %}
                {% set last_month = date|month_year_fr %}
            {% endfor %}
        </tr>
        <tr>
            {% set last_month = '' %}
            {% for date in dates %}                
                <td>{{ date|date_fr }}</td>
                {% set last_month = date|month_year_fr %}
            {% endfor %}
        </tr>
        {% for id_product, product in report %}
            <tr>
                <td>{{ product.label }} {{ product.unit }}</td>
                <td>{{ product.base_price|price_excel}}</td>
                {% set last_month = '' %}

                {% for date in dates %}                    
                    <td{% if product.distris[date] is defined and product.distris[date].quantity is not null %} bgcolor="{{ bgwarning }}"{% endif %}{% if product.distris[date] is not defined %} bgcolor="#DDDDDD"{% endif %}>{#
                        #}{% if product.distris[date] is defined %}{#
                            #}{{ product.distris[date].quantity }}{#
                        #}{% endif %}{#
                        #}{% if product.distris[date] is not defined %} - {% endif %}{#
                    #}</td>
                    {% set last_month = date|month_year_fr %}
                {% endfor %}
                {% for month, nb in nb_per_month %}
                    <td>{#
                    #}{% if product.ratio is empty %}{#
                        #}{% if payment[id_product] is defined and payment[id_product][month] is defined %}{#
                            #}{{ payment[id_product][month]|price_excel }}{#
                        #}{% else %}{#
                            #}{{ 0|price_excel }}{#
                        #}{% endif %}{#
                    #}{% else %}
                        <font color="#AAAAAA">Prix au poids</font>
                        {% set has_ratio = true %}
                    {% endif %}{#
                    #}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th bgcolor="{{ bgsuccess}}" rowspan="2" colspan="{{ dates|length +2 }}">Total</th>
            {% set total = 0 %}
            {% for month, nb in nb_per_month %}
                <th>
                    {% if payment.all[month] is defined %}
                        {{ payment.all[month]|price_excel }} {% if has_ratio %}*{% endif %}                   
                        {% set total = total + payment.all[month] %}
                    {% else %}
                        {{ 0|price_excel }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="{{ nb_per_month|length }}">{{ total|price_excel }} {% if has_ratio %}*{% endif %}</th>
        </tr>
        {% if has_ratio %}
            <tr><td colspan="{{ dates|length +4 }}">* Le total ne prend pas en compte les produits ayant un prix au poids.</td></tr>
        {% endif %}
        </table>
        
</div>

