{% set total_amount = 0 %}
{% set total_received = 0 %}
<div class="col-md-10 col-md-offset-1">

    <table class="table table-condensed table-bordered">
        <tr>
            <td colspan="7" class="text-center warning">
                {% include 'Contract/_report_thead.html.twig' with {'contract':contract, 'farm': farm } %}  
            </td>
        </tr>
        <tr class="success">
            <th>Adhérent</th>
            <th>Date</th>
            <th>Qt</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Paiement</th>
            <th>Reçu</th>
        </tr>
        {% for name, line in report %}
            {% for product in line %}
            <tr>
                {% if loop.first %}
                    <td rowspan="{{ line|length }}">{{ name }}</td>
                {% endif %} 
                <td>
                    <small class="nobr">{{ product.date|date_small }}</small>
                </td>
                <td>
                    <div class="bold">{{ product.quantity }}</div> 
                </td>
                <td>
                    <div class="product3">                        
                        {{ product.label }} {{ product.unit }}
                    </div>
                </td>                        
                <td class="nobr">
                    {% if product.ratio is null %}
                        {% set price = product.quantity*product.price %}
                         {{ price|price_fr }}
                    {% else %}
                        Prix au poids
                    {% endif %}
                </td>
                {% if loop.first %}
                    <td rowspan="{{ line|length }}" class="nobr">
                    {% if payment[product.id_user] is defined %}
                        {% set total_amount = total_amount+payment[product.id_user].amount %}
                        {{ payment[product.id_user].amount|price_fr  }}
                     {% endif %}  
                    </td><td rowspan="{{ line|length }}" class="nobr">
                     {% if payment[product.id_user] is defined %}
                        {% set total_received = total_received+payment[product.id_user].received %}
                        {{ payment[product.id_user].received|price_fr  }}<br />
                    {% endif %}                        
                    </td>
                {% endif %}   
            </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <th colspan="5" class="success">Total</th>
            <th>{{ total_amount|price_fr }}</th>
            <th>{{ total_received|price_fr }}</th>
        </tr>
    </table>
</div>