<div class="col-md-12">
    <table class="table table-condensed table-bordered">
        <tr>
            <td colspan="{{ 2+dates|length }}" class="text-center warning">
                {% include 'Contract/_report_thead.html.twig' with {'contract':contract, 'farm': farm } %}  
            </td>
        </tr>
        <tr class="success">
            <th class="text-center" rowspan="3">Produit</th>
            <th class="text-center" rowspan="3">Prix</th>
            <th colspan="{{ dates|length }}" class="text-center">Distributions</th>
        </tr>
         <tr>
            {% set last_month = '' %}
            {% for date in dates %}     
                {% if date|month_year_fr != last_month %}
                <td class="td-hover text-center delimit-left" colspan="{{ nb_per_month[date|slice(0,7)] }}" onclick="$('.{{ date|slice(0,7) }} > div').toggle();">
                    <div class="pull-left"><span class="glyphicon glyphicon-eye-open"></span></div>
                    {{ date|month_year_fr }}
                </td>
                {% endif %}
                {% set last_month = date|month_year_fr %}
            {% endfor %}
        </tr>
        <tr>
            {% set last_month = '' %}
            {% for date in dates %}                
                <td class="{{ date|slice(0,7) }} nobr text-center success{% if date|month_year_fr != last_month %} delimit-left{% endif %}"><div>{{ date|date_fr }}</div></td>
                {% set last_month = date|month_year_fr %}
            {% endfor %}
        </tr>
        {% for product in report %}
            <tr>
                <td><div class="product2" data-toggle="tooltip" data-placement="bottom" title="{{ product.label }} {{ product.unit }}">{{ product.label }} {{ product.unit }}</div></td>
                <td class="nobr">{{ product.base_price|price_fr}}</td>
                {% set last_month = '' %}
                {% for date in dates %}
                    <td class="{{ date|slice(0,7) }} small{% if date|month_year_fr != last_month %} delimit-left{% endif %}{% if product.distris[date] is defined and product.distris[date]|length > 0  %} warning{% endif %}">
                        {% if product.distris[date] is defined %}
                         {% for name, quantity in product.distris[date] %}
                             <div class="nobr"><b>{{ quantity }}</b> {{ name }}</div>
                         {% endfor %}
                         {% endif %}
                    </td>
                    {% set last_month = date|month_year_fr %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
</div>