{% set mois = ['','Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'] %}
{% set jours = ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'] %}      

<tr>
  <td style="width:250px;"></td>
  {% set last_month = -1 %}
  {% for date in distributions %}
      {% if date|date("n") != last_month %}
          <td colspan="{{ nb_per_month[date|date("Y-m")] }}" class="text-center{% if loop.index0 > 0 %} delimit-left{% endif %}">{{ mois[date|date("n")] }} {{ date|date("Y") }}</td>
          {% set last_month = date|date("n") %}
       {% endif %}
  {% endfor %}
</tr>

<tr>
<td style="width:250px;"></td>
{% set last_month = -1 %}
{% for date in distributions %}
  <td class="bg-warning{% if date|date("n") != last_month and not loop.first%}  delimit-left{% endif %}">{{ jours[date|date("w")]|slice(0,3) }} {{ date|date("d") }}</td>
  {% set last_month = date|date("n") %}
{% endfor %}
</tr> 