{% extends 'layout.html.twig' %}
{% block header_title %}Contrats{% endblock %}
{% block header_css %}<link href="{{ asset('datatables/datatables.min.css') }}" rel="stylesheet" />{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered table-cell-link table-hover sorttable">
        <thead>
            <tr class="success">
                <th>Contrat</th> 
                <th>Date limite</th>
                <th>1<sup>ère</sup> distribution</th>
                <th>Nb Distr.</th>
                <th>Nb Produits</th>
                <th style="max-width:75px;">En cours</th> 
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr onclick="window.location.href='{{ path('contract_report', {'id_contract':entity.id_contract}) }}';">
                <td>{% if not entity.is_visible %}<div class="pull-right"><span class="glyphicon glyphicon-eye-close text-warning" style="font-size:18px;"></span></div>{% endif %}<div class="nobr">{{ entity.label }}</div></td>
                <td><div class="nobr">{% if entity.fill_date_end is not empty %}{{ entity.fill_date_end|date('Y-m-d') }}{% endif %}</div></td>
                <td><div class="nobr">{{ entity.first_distribution|date('Y-m-d') }}</div></td>
                <td><div>{{ entity.nb_distribution }}</div></td>
                <td><div>{{ entity.nb_product }}</div></td>
                <td  style="max-width:75px;" class="text-center">{% if entity.is_active %}
                  <span class="glyphicon glyphicon-play text-success" style="font-size:18px;"></span>                  
                  {% else %}                    
                      <span class="glyphicon glyphicon-pause" style="font-size:18px;"></span>                    
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div> 
{% endblock %}
{% block footer_js_before %}
<script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/init-datatables.js') }}"></script>
{% endblock %}