{% extends 'layout.html.twig' %}
{% block header_title %}Nouveau contrat{% endblock %}
{% block header_css %}<!--[if gt IE 8]>--><link href="{{  asset('css/checkbox.css') }}" rel="stylesheet" /><!--<![endif]-->
<link href="{{  asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" />
<style type="text/css">
.page-header {
  cursor:pointer;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none; 
}    
</style>
{% endblock %}
    
{% block body %}
<div class="row">
   <div class="col-md-2">
    <a href="{{ path('contract_index') }}" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Liste</a>
   </div>
   <div class="col-md-8">
     {% form_theme form 'Form/fields.html.twig' %}
     {{ form(form) }}   
       <br /><br /><br />
    </div>

</div>
   <!--
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well well-lg text-left text-muted" style="padding:5px;">
      <p>* : champ obligatoire.</p>
      <p>(1) : il faut fermer "manuellement" le contrat à cette date. Il n'y a pas de fermeture automatique.</p>
    </div>
  </div>
</div>
-->
<div class="modal fade" id="msg-alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer_js %}
<script>var root='{{ url('home') }}';</script>
<script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/contract.js') }}"></script>
{% endblock %}