{% extends 'layout.html.twig' %}
{% block header_title %}Statistiques{% endblock %}
{% block header_css %}
        <link href="{{  asset('css/morris.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<style>
.form-group {
    width: 25%;
    float: left;
    text-align: center;
}
.form-control {
    width:95%;
}
</style>
        {% include 'Stats/_menu.html.twig' %}  
    <div class="row bg-success">
        <div class="col-md-12">
            <div class="form-group">
                <label>Année</label><br />
                <select class="form-control" id="sel-year">
                    {% for year in years %}
                        <option value="{{ year }}"{% if year=="now"|date("Y") %} selected="selected"{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="form-group">
                 <label>Adhérent</label><br />
                <select class="form-control" id="sel-user">
                    <option value="0">Tous</option>
                    {% for user in users %}
                        <option value="{{ user.idUser }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Producteur</label><br />
                <select class="form-control" id="sel-farm">
                    <option value="0">Tous</option>
                    {% for farm in farms %}
                        <option value="{{ farm.idFarm }}">{{ farm }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <br />
    <br />
<div class="row">       
    <div class="col-md-12">
        <div id="graphcontainer">
            <h4 id="title"></h4>
            <h5>Total : <span id="total">--</h5>
            <div id="graph"></div>
            <table id="graphtab">
                <tr>                              
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th></th>  
                </tr>
            </table>
            
        </div>
    </div>
</div> 
{% endblock %}
{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/raphael-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/morris.min.js') }}"></script>
<script type="text/javascript">
var root = "{{ url('home') }}";
var dataPoints = {{ stats.graph|json_encode()|raw }};
var total = {{ stats.total }};
var dateStr = "{{ "now"|date("Y") }}";
</script>
<script type="text/javascript" src="{{ asset('js/stats.js') }}"></script>
{% endblock %}


