{% extends 'layout.html.twig' %}
{% block header_title %}Statistiques{% endblock %}
{% block header_css %}
        <link href="{{  asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" />
<style>
.form-group {
    width: 25%;
    float: left;
    text-align: center;
}
.form-control {
    width:95%;
}
@media print {
    .table-bordered th, .table-bordered td {
        border: 1px solid #666 !important;
    }
}
</style>
{% endblock %}
{% block body %}

    <div class="row bg-success no-print">
        <form action="" method="GET">
            <div class="form-group col-md-3">
                <label>Producteur</label><br />
                <select class="form-control" name="id_farm">
                    {% for eachFarm in farms %}
                        <option value="{{ eachFarm.idFarm }}"{% if eachFarm.idFarm==farm.idFarm %} selected="selected"{% endif %}>{{ eachFarm }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Adhérent</label><br />
                <select class="form-control" name="id_user">
                    <option value="all">Tous</option>
                    {% for each_user in user_list %}
                        <option value="{{ each_user.idUser }}"{% if id_user == each_user.idUser %} selected="selected"{% endif %}>{{ each_user }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Date Début</label><br />
                <input class="form-control datepicker" type="text" name="date_debut" value="{{ date_debut|date('Y-m-d') }}" />
            </div>
             <div class="form-group col-md-3">
                <label>Date Fin</label><br />
                <input class="form-control datepicker" type="text" name="date_fin" value="{{ date_fin|date('Y-m-d') }}" />
            </div>
            <div class="form-group col-md-3">
                <label><input type="checkbox" name="hide_empty_products" {% if hide_empty_products %}checked {% endif %} /> Cacher les colonnes vides</label>
            </div>
            <div class="no-print col-md-12 text-center">&nbsp;<br />
                <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-right"></span> Valider</button>
            </div>
        </form>
    </div>
  <div class="row no-print" style="margin:10px 0;">
        <div class="col-md-12">
            <div class="mobile-hide">
              <button class="btn btn-default no-print" onclick="window.print();"><span class="glyphicon glyphicon-print"></span> Imprimer</button>
              <a download="rapport.xls" class="btn btn-success no-print" onclick="exportExcel(this);" data-toggle="tooltip" data-placement="bottom" title="Export Excel"><span class="glyphicon glyphicon-floppy-disk"></span> Excel</a>

            </div>
            
        </div>
    </div>

<div class="row">       
    
    <div class="col-md-12">
       <table class="table table-bordered table-striped table-condensed">
           <tr><th rowspan=2" colspan="2">{{ farm }}<br />du {{ date_debut|date('d/m/Y') }}<br />au {{ date_fin|date('d/m/Y') }}</th>{% for product in products %}<td class="bg-grey">{{ product.label }}</td>{% endfor %}</tr>
           <tr>{% for product in products %}<td class="bg-grey">{{ product.unit }}</td>{% endfor %}
           <tr><th class="bg-grey">Montant</th><td class="bg-primary nobr">{{ quantities.total_total_price|price_fr }}</td>                
                {% for product in products %}
                    <td class="bg-warning nobr">{% if quantities.total_price[product.idProduct] is defined %}{{ quantities.total_price[product.idProduct]|price_fr }}{% endif %}</td>
               {% endfor %}
           </tr>
           <tr><th class="bg-grey">Quantité</th><td class="bg-primary nobr">{{ quantities.total_total_quantity }}</td>                
                {% for product in products %}
                    <th class="bg-warning">{% if quantities.total_quantity[product.idProduct] is defined %}{{ quantities.total_quantity[product.idProduct] }}{% endif %}</th>
               {% endfor %}
           </tr>           
           {% for fullname,quantity in quantities.by_user %}
               <tr><td class="bg-success" colspan="2">{{ fullname|split('|')[0]}}</td>
                   {% for product in products %}
                        <td>{% if quantity[product.idProduct] is defined %}{{ quantity[product.idProduct].quantity }}{% endif %}</td>
                   {% endfor %}
               </tr>
           {% endfor %}
    
       </table>
    </div>
</div> 
           
           
      <div style="display:none;">     
           <table id="table-excel">
           <tr><th rowspan=2" colspan="2">{{ farm }}<br />du {{ date_debut|date('d/m/Y') }}<br />au {{ date_fin|date('d/m/Y') }}</th>{% for product in products %}<td>{{ product.label }}</td>{% endfor %}</tr>
           <tr>{% for product in products %}<td>{{ product.unit }}</td>{% endfor %}
           <tr><th>Montant</th><td>{{ quantities.total_total_price|price_fr }}</td>                
                {% for product in products %}
                    <td>{% if quantities.total_price[product.idProduct] is defined %}{{ quantities.total_price[product.idProduct]|price_fr }}{% endif %}</td>
               {% endfor %}
           </tr>
           <tr><th>Quantité</th><td>{{ quantities.total_total_quantity }}</td>                
                {% for product in products %}
                    <th>{% if quantities.total_quantity[product.idProduct] is defined %}{{ quantities.total_quantity[product.idProduct] }}{% endif %}</th>
               {% endfor %}
           </tr>           
           {% for fullname,quantity in quantities.by_user %}
               <tr><td colspan="2">{{ fullname }}</td>
                   {% for product in products %}
                        <td>{% if quantity[product.idProduct] is defined %}{{ quantity[product.idProduct].quantity }}{% endif %}</td>
                   {% endfor %}
               </tr>
           {% endfor %}
    
       </table>
</div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/excellentexcel.js') }}"></script>
<script type="text/javascript">
var mois = ['Janvier','Février','Mars','Avril','Mai','Juin',
    'Juillet','Août','Septembre','Octobre','Novembre','Décembre'];  
var jours = ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'];
var options = {
    monthNames: mois,
    monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
    'Jul','Aoû','Sep','Oct','Nov','Déc'],
    dayNames: jours,
    dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
    dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
    dateFormat: 'yy-mm-dd',
    firstDay: 1,
    prevText: '&#x3c;Préc', prevStatus: 'Voir le mois précédent',
    prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: 'Voir l\'année précédent',
    nextText: 'Suiv&#x3e;', nextStatus: 'Voir le mois suivant',
    nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: 'Voir l\'année suivant',
    currentText: 'Courant', currentStatus: 'Voir le mois courant',
    todayText: 'Aujourd\'hui', todayStatus: 'Voir aujourd\'hui',
    clearText: 'Effacer', clearStatus: 'Effacer la date sélectionnée',
    closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
    yearStatus: 'Voir une autre année', monthStatus: 'Voir un autre mois',
    weekText: 'Sm', weekStatus: 'Semaine de l\'année',
    dayStatus: '\'Choisir\' le DD d MM',
    defaultStatus: 'Choisir la date',
    isRTL: false
};  


function exportExcel(elt) {
    if (/msie/.test(navigator.userAgent.toLowerCase()) || /trident/.test(navigator.userAgent.toLowerCase())) {
        $('#msie').modal('show');
    } 
    else {
        return ExcellentExport.excel(elt, 'table-excel', 'Contrats AMAP');
    }
}

$(document).ready(function () {
    $(".datepicker").datepicker(options);
});

</script>

{% endblock %}
