{% extends 'layout.html.twig' %}
{% block header_title %}Historique des paiements{% endblock %}
{% block body %}
    
{% set total_amount = 0 %}
{% set total_received = 0 %}

{% include 'Payment/_page_switcher.html.twig' with {'curPage': 'by_year', 'role':role} %}

{% include 'Payment/_history_form.html.twig' with {
    'farms': farms,
    'users': users,
    'farm' : farm,
    'user' : user,
    'years': years,
    'year' : year,
    'role' : role } 
%}

<br />
<div class="row">       
    <div class="col-md-12">


      <!--  <h4><small>Adhérent :</small> {{ user }}</h4>
        <h4><small>Producteur :</small> {{ farm }}</h4>-->

    </div>
</div>
        
<div class="row">       
    <div class="col-md-12">    
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Date</th>
                <th>Contrat</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Reçu</th>

            </tr>            
            {% for payment in payments %}
            <tr>
                <td>{{ payment.date }}</td>
                <td>{% if payment.contractLabel is not null %}{{ payment.contractLabel }}{% else %} - {% endif %}</td>
                <td>{% include 'Partials/_descriptionPayment.html.twig' with {'description': payment.description, 'short':true } %}</td>
                <td class="nobr">{{ payment.amount|price_fr }}</td>
                <td class="nobr">{{ payment.received|price_fr }}</td>

             </tr>
            {% set total_amount = total_amount+payment.amount %}
            {% set total_received = total_received+payment.received %}
            {% endfor %}
            <tr>
                <th colspan="3">Total</th>
                <th class="nobr">{{ total_amount|price_fr }}</th>
                <th class="nobr">{{ total_received|price_fr }}</th>
                
            </tr>
            <tr class="success">
                <th colspan="3">{% if (total_received-total_amount) <= 0 %}A payer{% else %}Trop payé{% endif %}</th>
                <th colspan="2" class="text-center">{{ (total_received-total_amount)|abs|price_fr }}</th>
            </tr>
        </table>            
    </div>
</div> 

{% endblock %}
