{% extends 'layout.html.twig' %}
{% block header_title %}    
    {% if not isReferentPage %}
        Paiements
    {% else %}
        Réception des paiements
    {% endif %}   {% endblock %}

{% block body %}
    
{% include 'Payment/_page_switcher.html.twig' with {'curPage': 'global','role':(isReferentPage?'referent':'adherent')} %}
{% include 'Payment/_filters.html.twig' with {'filters': filters, 'contracts':contracts,'farms':farms, 'adherents': adherents } %}
<div class="row paiement">
   <div class="col-md-12 text-center">
       
       {% include 'Partials/_pagination.html.twig' with {'pagination': pagination, 'route':isReferentPage?'paiements_referent':'paiements_adherent' } %}
   </div>
   <div class="col-md-12">
       <table class="table table-bordered table-striped table-condensed">
           <tr><th>Contrat</th>{% if isReferentPage %}<th>Adhérent</th>{% endif %}<th>Producteur</th><th>Description</th><th>Montant</th><th>Reçu</th><th style="display:none;"></th></tr>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.contract }}</td>
                    {% if isReferentPage %}<td class="row-fkUser">{{ payment.adherent }}</td>{% endif %}
                    <td>{{ payment.farm }}</td>
                    <td>{% include 'Partials/_descriptionPayment.html.twig' with {'description': payment.description, 'short':true, 'isReferentPage': isReferentPage, 'idPayment':payment.idPayment } %}</td>
                    <td class="row-amount" objectid="{{ payment.idPayment }}">{{ payment.amount|price_fr }}</td>
                    <td class="row-received" objectid="{{ payment.idPayment }}">{{ payment.received|price_fr }}</td>
                    <td class="row-receivedAt">{{ payment.receivedAt|date("Y-m-d") }}</td>
            {% endfor %}
       </table>
       {% include 'Partials/_pagination.html.twig' with {'pagination': pagination, 'route':'paiements_adherent' } %}
    </div>
</div>
{% include 'Payment/_modals.html.twig' %}
{% endblock %}
{% block footer_js %}
<script>
    var root='{{ url('home') }}';
    var isReferentPage = {{ isReferentPage?'true':'false' }};
</script>
<script type="text/javascript" src="{{ asset('js/payment.js') }}"></script>
{% endblock %}


