{% extends 'layout.html.twig' %}
{% block header_title %}Liste des producteurs{% endblock %}
{% block header_css %}<link href="{{ asset('datatables/datatables.min.css') }}" rel="stylesheet" />{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% if user.isAdmin %}
    <a href="{{ path('farm_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-grain"></span> Ajouter un producteur</a>
    <br />
    <br />
    {% endif %}
    <table class="table table-hover table-bordered sorttable">
        <thead>
            <tr class="success">
                <th>Nom</th>             
                <th>Produits</th>             
                <th>Référents</th>             
            </tr>
        </thead>
        <tbody class="sortable">
        {% for entity in entities %}
            <tr id="{{ entity.idFarm }}" onclick="window.location.href='{{ path('farm_edit', { 'id': entity.idFarm }) }}';"{% if not entity.isActive %} class="text-muted"{% endif %}>
                <td>{{ entity.label }}</td>
                <td>{{ entity.productType }}</td>
                <td>{{ entity.referents|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div> 
        
{% include 'ProductDistribution/_modals.html.twig' %}  
{% endblock %}
{% block footer_js_before %}
<script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/init-datatables.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript">
var baseUrl = '{{ url('farm_change_order', {'id_from':'__FROM__','id_before':'__BEFORE__','id_after':'__AFTER__'}) }}';
</script>
<script type="text/javascript" src="{{ asset('js/sort.js') }}"></script>
{% endblock %}