{% set mois = ['','Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'] %}
{% set jours = ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'] %}      
<tr>
  <td></td>
  {% set last_month = -1 %}
  {% for date in distributions %}
      {% if date|date("n") != last_month %}
          <th colspan="{{ nb_per_month[date|date("Y-m")] }}" class="text-center{% if loop.index0 > 0 %} delimit-left{% endif %}">{{ mois[date|date("n")] }} {{ date|date("Y") }}</th>
          {% set last_month = date|date("n") %}
       {% endif %}
  {% endfor %}
  </tr>
  <tr>
    <td class="check-all"><span data-toggle="tooltip" data-placement="left" title="Tout cocher / décocher" class="glyphicon glyphicon-ok text-success"></span></td>
    {% set last_month = -1 %}
    {% for date in distributions %}                        
      {% set new_month = false %}
      {% if date|date("n") != last_month %}
         {% set last_month = date|date("n") %}
         {% set new_month = true %}
      {% endif %}
      <td class="text-center warning check-vertical{% if new_month and loop.index0 > 0 %} delimit-left{% endif %}"><span data-toggle="tooltip" data-placement="top" title="Cocher / décocher toute la colonne">{{ jours[date|date("w")]|slice(0,3) }}<br />{{ date|date("d") }}</span></td>
    {% endfor %}
  </tr>
