{% extends 'layout.html.twig' %}
{% block header_title %}Report de produits{% endblock %}
{% block header_css %}<!--[if gt IE 8]>--><link href="{{  asset('css/checkbox.css') }}" rel="stylesheet" /><!--<![endif]-->{% endblock %}
    
{% block body %}
    
    
<div class="row">
  <div class="col-md-1">
    {#% if page>1 %#}
      <a href="{{ path('shift', {page: page-1}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></a>
    {#% endif %#}
  </div>
  
  <div class="col-md-1 col-md-offset-10 text-right">
    <a href="{{ path('shift', {page: page+1}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></a>
  </div>
  
</div>


<div class="row" id="product-distribution">

  <div class="col-md-12">
    {% if distributions|length == 0 %}
  
      Pas de distribution disponible.

    {% else %}
      {% set last_id_farm = 0 %}
      {% for product in products %}
        {% if product.fkFarm.idFarm != last_id_farm %}
        {% set last_id_farm = product.fkFarm.idFarm %}
        {% set iterate_by_farm = 0 %}
          <table class="table table-bordered table-condensed" {% if not product.fkFarm.isActive %} style="display:none;"{% endif %}>
          <tr>
            <th colspan="{{ distributions|length+1 }}" class="success text-center">{{ product.fkFarm }}</th>
          </tr>
          
         {% include 'ProductDistribution/_tr_dates.html.twig' %}  
         {% endif %}

        <tr{% if not product.isActive %} style="display:none;"{% endif %}>{#
          #}<td class="warning check-horizontal"><span data-toggle="tooltip" data-placement="left" title="Cocher / décocher toute la ligne">{{ product.label ~ ' ' ~ product.unit }}</span></td>{#
          #}{% set last_month = -1 %}{#
          #}{% for id_distribution, date in distributions %}{#
            #}{% set new_month = false %}{#
            #}{% if date|date("n") != last_month %}{#
               #}{% set last_month = date|date("n") %}{#
               #}{% set new_month = true %}{#
            #}{% endif %}{#
            #}{% set id = product.idProduct~'-'~id_distribution %}{#
            #}<td class="{% if new_month and loop.index0 > 0 %}delimit-left{% endif %}">{#
              #}{% if product_distribution[id] is defined %}{#
                #}<input type="checkbox" id="{{ id }}" data-id_product_distribution="{{ product_distribution[id].id_product_distribution }}" />{#
                #}<label for="{{ id }}"><span></span></label>{#     
                    #}{% if product_distribution[id].date_shift is not null %}{#
                     #}<br /><span class="label label-warning">⮀ {{ product_distribution[id].date_shift|date_small }}</span>{#
                   #}{% endif %}{#
              #}{% endif %}{#
              #}{% if product_distribution_shift[id] is defined %}{#
                 #}<span class="label label-success">⮀ {{ product_distribution_shift[id].date_init|date_small }}</span>{#
              #}{% endif %}{#
            #}</td>{#
          #}{% endfor %}{#
        #}</tr>
      {% set iterate_by_farm = iterate_by_farm+1 %}
      {% if iterate_by_farm == nb_per_farm[last_id_farm] %}
        <tr><th colspan="{{ distributions|length+1 }}" class="text-center"><button class="shift-button btn btn-primary" disabled="disabled"><span class="glyphicon glyphicon-calendar"></span> Choisir une date de report</button></th></tr>
        </table>
        
      {% endif %}
      {% endfor %}
    {% endif %}
  </div>


</div>

<div class="row">
    <div class="col-md-1">
      {#% if page>1 %#}
        <a href="{{ path('shift', {page: page-1}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></a>
      {#% endif %#}
    </div>

    <div class="col-md-1 col-md-offset-10 text-right">
      <a href="{{ path('shift', {page: page+1}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>

  </div>

    
<form action="{{ path('shift_save') }}" method="POST" id="hidden-form">
<input type="hidden" name="selected" id="selected" value=""/>
<input type="hidden" name="new_id_distribution" id="new_id_distribution" value="" />
<input type="hidden" name="type_report" id="report_type" value="" />
<input type="hidden" name="page" id="page" value="{{ page }}" />
</form>
    
{% include 'ProductDistribution/_modals.html.twig' %}  

{% endblock %}

{% block footer_js %}
<script type="text/javascript">
var root = '{{ url('home') }}';
var page = {{ page }};
</script>
<script type="text/javascript" src="{{ asset('js/product_distribution.js') }}"></script>
{% endblock %}